@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;
@define-color shadow #000000;
@define-color border @overlay0;

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  color: @text;
  background: transparent;
}

window#waybar.hidden {
  opacity: 0;
}

#battery,
#custom-notifications,
#custom-arch,
#clock,
#bluetooth,
#pulseaudio,
#backlight,
#network,
#tray,
#custom-power-menu,
#language,
#window,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  background-color: @base;
  padding: 2px 10px;
  margin: 2px 4px;
  border-radius: 12px;
  box-shadow: 2px 2px 1px alpha(@shadow, 0.7);
  border: 2px solid @border;
  background-clip: padding-box;
}

#workspaces {
  background-color: @base;
  border: 2px solid @border;
  padding: 2px 12px;
  margin: 2px 4px;
  box-shadow: 2px 2px 1px alpha(@shadow, 0.7);
  border-radius: 15px;
  background-clip: padding-box;
}

#workspaces * {
  font-size: 13px;
}

#workspaces button {
  border-radius: 15px;
  margin: 4px 4px;
  padding: 2px 6px;
  font-weight: bolder;
  min-width: 20px;
  color: @base;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button label {
  color: @lavender;
  font-weight: bolder;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
  background: linear-gradient(
    52deg,
    rgba(139, 213, 202, 1) 0%,
    rgba(138, 173, 244, 1) 30%,
    rgba(183, 189, 248, 1) 48%,
    rgba(198, 160, 246, 1) 77%,
    rgba(238, 153, 160, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
  color: @mauve;
  box-shadow: 1px 1px 1px alpha(@shadow, 0.7);
  border-radius: 15px;
}

#workspaces button.active label {
  color: @base;
  font-weight: bolder;
}

#workspaces button:hover {
  background-color: @surface0;
}

#workspaces button.focused:hover {
  background-color: @base;
}

#workspaces button.focused:hover label {
  color: @text;
}

#workspaces button.urgent {
  background-color: @red;
}

#workspaces button.urgent label {
  color: @base;
  font-weight: bolder;
}

#battery {
  color: @green;
}
#battery.plugged {
  background-color: @green;
  color: @mantle;
}
#battery.warning {
  color: @yellow;
}
#battery.critical {
  color: @peach;
}
#battery.urgent {
  color: @red;
}
#battery.critical:not(.charging) {
  background-color: @red;
  color: @mantle;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory {
  color: @green;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#custom-notifications {
  color: @yellow;
}

#custom-weather {
  color: @blue;
}

#custom-power-menu {
  color: @red;
}

#bluetooth {
  color: @blue;
}

#window {
  background-color: @base;
  border: 2px solid @border;
  padding: 2px 12px;
  margin: 2px 4px;
  box-shadow: 2px 2px 1px alpha(@shadow, 0.7);
  border-radius: 15px;
  background-clip: padding-box;
}

#clock {
  background: @base;
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
  font-weight: bold;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  border: 2px solid @border;
}

#language {
  color: @blue;
}

#pulseaudio {
  color: @pink;
}

#pulseaudio.muted {
  background-color: @red;
  color: @mantle;
}

#pulseaudio.source-muted {
  background-color: @peach;
  color: @mantle;
}

#backlight {
  color: @blue;
}

#network {
  color: @sky;
}

#network.disconnected {
  background-color: @red;
  color: @mantle;
}
#network.linked {
  background-color: @peach;
  color: @mantle;
}

@keyframes blink {
  to {
    background-color: alpha(@base, 0.9);
    color: @red;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 400% 200%;
  }
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 200% 200%;
  }
}